name: CI
on: [push, pull_request]
jobs:
  # run eslint and compare outputs with expected results
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"
      - run: npm ci
      - run: npm run eslint
      - run: npm test

  # test each framework can actually build
  test-frameworks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework:
          - express
          - fastify
          - gatsby
          - nest
          - next-yarn
          - nuxt
          - remix-indie
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
      - run: docker buildx build . --build-arg NODE_VERSION=18
        working-directory: test/frameworks/${{ matrix.framework }}

  # test yarn3 framework can actually build
  test-frameworks-yarn3:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework:
          - next-yarn3
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
      - run: docker buildx build . --build-arg NODE_VERSION=18 --build-arg YARN_VERSION=3.5.1
        working-directory: test/frameworks/${{ matrix.framework }}
